.post-container {
  background: white;
  width: 60%;
  margin: auto;
  border: 1px solid black;
}

.user-icon {
  width: 35px;
  margin: 6px;
  border-radius: 50%;
  border: 2px solid @lighter-blue;
  padding: 2px;
}

.post-image img{
  width: 100%;
  padding: 2px;
}

.post-header {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.post-likes {
  display: flex;
  font-weight: bold;
  padding: 0 8px;
}