// Browser Sizes

@phone: ~"(max-width: 600px)";
@tablet: ~"(max-width: 900px)";
@desktop: ~"(max-width: 1200px)";

// Fonts

@primary-font: ~"Arial, Helvetica, sans-serif";

// Colors

@dark-grey: #282c34;